body {
    background-color: #f7e6ae;
    color: rgb(70, 54, 30);
    font-family: monospace;
    font-size: 12pt;
}

#user-input {
    border: none;
    font-family: monospace;
    font-size: 12pt;
    background: transparent;
    max-width: 100ch;
}
