@font-face {
    font-family: "ponderosaregular";
    src: url("ponde___-webfont.woff2") format("woff2"),
        url("ponde___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f7e6ae;
    color: rgb(70, 54, 30);
    font-family: ponderosaregular, monospace;
    font-size: 11pt;
}

#title h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

#user-input {
    font-family: inherit;
    border: none;
    font-size: 10pt;
    background: transparent;
    max-width: 100ch;
}
