@font-face {
    font-family: "ponderosaregular";
    src: url("ponde___-webfont.woff2") format("woff2"),
        url("ponde___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 92%;
    background-color: #f7e6ae;
    color: rgb(70, 54, 30);
    font-family: "Courier New", Courier, monospace;
}

.container {
    width: 80%;
    height: 88%;
    margin: auto;
    margin-top: 4em;
}

#title {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h1 {
    font: normal 40px ponderosaregular, monospace;
    padding-top: 2%;
    border: #000 thick;
}

#start-screen {
    margin-top: 3em;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    margin-top: 3em;
    background: transparent;
    border: transparent;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font: normal 16px "Courier New";
    transition-duration: 0.4s;
}

#start:hover {
    background-color: rgb(70, 54, 30); /* Green */
    color: #f7e6ae;
}

#game-window {
    height: 70%;
}

::-webkit-scrollbar {
    width: 0 !important;
}

#game-text {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#indicator {
    float: left;
    padding-right: 0.5em;
    padding-top: 0.5em;
}

#user-input {
    font: inherit;
    font-style: italic;
    border: none;
    background: transparent;
    padding-top: 0.5em;
}
